<!-- Game preview panel component -->
<div id="gamePreviewPanel" class="game-preview-panel">
  <div class="thumbnail-wrapper">
    <img id="gamePreviewThumbnail" src="{{thumbnailUrl}}" alt="Game Thumbnail" />
  </div>
  <div class="game-preview-details">
    <h3 id="gamePreviewName">{{gameName}}</h3>
    <p>
      <strong class="highlight">Playing:</strong>
      <span id="gamePreviewPlaying">{{playing}}</span>
    </p>
    <p>
      <strong class="highlight">Visits:</strong>
      <span id="gamePreviewVisits">{{visits}}</span>
    </p>
  </div>
</div>
