<!-- Game info sidebar panel component -->
<div id="gameInfoPanel" class="sidebar-panel game-info">
  <div class="thumbnail-wrapper">
    <img id="gameInfoThumbnail" src="{{thumbnailUrl}}" alt="Game Thumbnail" />
  </div>
  <div class="game-info-details">
    <h3 id="gameInfoName">{{gameName}}</h3>
    <p>
      <strong class="highlight">Playing:</strong>
      <span id="gameInfoPlaying">{{playing}}</span>
    </p>
    <p>
      <strong class="highlight">Visits:</strong>
      <span id="gameInfoVisits">{{visits}}</span>
    </p>
  </div>
</div>
